@import url('https://fonts.googleapis.com/css?family=Indie+Flower');

@font-face {
  font-family: 'userfont';
  src: URL('/font');
}

/*body {
  color: white !important;
}*/

.button_container {
  width: 500px;
  margin: 50px auto 100px auto;
  text-align: center;
}

.cards{
  margin-left: auto;
  margin-right: auto;
}

.steps {
  width: 500px;
  margin: 100px auto 0 auto;
  text-align: center;
}

#head_container {
  margin: 50px auto 0 auto;
}

#content {
  width: 100%;
  height: 5000px;
}

#brand_name {
  font-size: 1.5em;
  font-family: 'Indie Flower', cursive;
  cursor: pointer;
}

.content > span {
  font-family: 'Indie Flower', cursive;
}

a {
  cursor: pointer;
}

.ui.icon.header, .sub.header {
  color: white !important;
}

#step0 {
  height: 600px;
  padding-top: 100px;
  background: hsl(184,65%,49%);
}

#step1 {
  background: #9b59b6;
}

#step2 {
  background: hsl(158,58%,52%);
}

#step3 {
  background: hsl(28,100%,52%);
}

#step4 {
  background: hsl(200,60%,55%);
}

#step1,  #step2, #step3 {
  height: 400px;
}

#step4 {
  height: 600px;
}

#index_footer {
  height: 100px;
}

.field{
  border-style: solid;
  border-width: 2px;
  border-color: grey;
  height: 400px;
}

.font{
  font-family: "userfont";
}

#text_field.bold{
  border-style: solid;
  border-width: 2px;
  border-color: grey;
  font-weight: bold;
}

#control_buttons {
  position: fixed;
  bottom: 45%;
  right: 30px;
  z-index: 100;
}

#scroll_to_top_button {
  height: 50px;
  width: 50px;
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.35);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 1s;
  margin-bottom: 5px;
}

#next_instruction_button {
  height: 50px;
  width: 50px;
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.35);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 1s;
}

#tp_button {
  height: 50px;
  width: 50px;
  border-radius: 5px;
  /*background: rgba(0, 0, 0, 0.35);*/
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 1s;
  margin-bottom: 5px;
}

#down_button {
  width: 75%;
}

#helper_text {
  transition: opacity 1s;
}

#default_button {
  display: none;
}

#overlay_button {
  width: 120px;
  height: 36px;
  border-radius: 5px;
  background: #e0e1e2 none;
  line-height: 2.5rem;
  color: rgba(0, 0, 0, 0.6);
  font-size: 1rem;
  transition: background-color .1s ease,color .1s ease;
}

#overlay_button:hover {
  background-color: #D3D3D3;
  color: rgba(0, 0, 0, 1);
}

#menu_link {
  font-size: 15px;
}
