@import url('https://fonts.googleapis.com/css?family=Indie+Flower');

.button_container {
  width: 500px;
  margin: 50px auto 100px auto;
}

.steps {
  width: 500px;
  margin: 100px auto 0 auto;
  text-align: center;
}

#head_container {
  margin: 50px auto 0 auto;
}

#content {
  width: 100%;
  height: 5000px;
}

#brand_name {
  font-size: 1.5em;
  font-family: 'Indie Flower', cursive;
}

.content > span {
  font-family: 'Indie Flower', cursive;
}

a {
  cursor: pointer;
}

#step0 {
  height: 600px;
  padding-top: 100px;
}

#step1,  #step2, #step3, #step4{
  height: 400px;
}
