<!DOCTYPE html>
<html>
  <head>
    <meta charset = "UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Font Generator</title>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="../static/styles.css">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <!-- <script src = "../static/jquery.scrollify.min.js" type = "text/javascript"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.js"></script>
    <script src="../static/index.js"></script>
    <style>
      body {
          background-color: #3498DB;
      }
    </style>
  </head>
  <body>
    <div class="ui three column grid">


    <div class="column">
      <div class="ui fluid card">
        <div class="image">
          <img src="../static/aditya.jpg">
        </div>
        <div class="content">
          <a class="header">Aditya Desai</a>
          <div class="meta">
            <a>20</a>
          </div>
          <div class="description">
            Music lover. Makes easy work of Android and front-end.
          </div>
        </div>
        <div class="extra content">
          <span class="right floated">
            Joined in 2015
          </span>
          <span>
            <i class="user icon"></i>
            TE Computers
          </span>
        </div>
      </div>
    </div>


    <div class="column">
      <div class="ui fluid card">
        <div class="image">
          <img src="../static/neil.jpg">
        </div>
        <div class="content">
          <a class="header">Neil Daftary</a>
          <div class="meta">
            <a>19</a>
          </div>
          <div class="description">
            Loves food and movies. Web-dev and Android is his forte.
          </div>
        </div>
        <div class="extra content">
          <span class="right floated">
            Joined in 2015
          </span>
          <span>
            <i class="user icon"></i>
            TE Computers
          </span>
        </div>
      </div>
    </div>


    <div class="column">
      <div class="ui fluid card">
        <div class="image">
          <img src="../static/royston.jpg">
        </div>
        <div class="content">
          <a class="header">Royston Dmello</a>
          <div class="meta">
            <a>19</a>
          </div>
          <div class="description">
            Quirky guy and an ardent GOT fan. Machine Learning wizard!
          </div>
        </div>
        <div class="extra content">
          <span class="right floated">
            Joined in 2015
          </span>
          <span>
            <i class="user icon"></i>
            TE Computers
          </span>
        </div>
      </div>
    </div>
  </div>
  </body>
</html>
