<!DOCTYPE html>
<html>
  <head>
    <meta charset = "UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Font Generator</title>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="../static/styles.css">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <!-- <script src = "../static/jquery.scrollify.min.js" type = "text/javascript"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.js"></script>
    <script src="../static/index.js"></script>
    <style>
      body {
          background-color: #3498DB;
      }
      iframe{
        margin-left: auto;
        margin-right: auto;
      }
    </style>
  </head>
  <body>
    <iframe src="https://docs.google.com/presentation/d/e/2PACX-1vSEEtz-4_DRoOSGNXib7xOQGZfOA3ZmpBFTlZCG05GvGiYSw7UtPcBCyPzJdxgQYImofWtwD7Ms3YT3/embed?start=false&loop=false&delayms=15000" frameborder="0" width="960" height="569" allowfullscreen="true" mozallowfullscreen="true" webkitallowfullscreen="true" align="middle"></iframe>
  </body>
</html>
